nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid #93989E;
}

.nav-logo {
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
}
