<section id="spx-card" class="tradingCards hide">
    <h4 id="spx-action"></h4>
    <h2 class="tickerName">SPX</h2>
    <ul class="insideCardList">
        <li>
            <label>Price:</label>
            <span id="spx-price">$</span>
        </li>
        <li>
            <label>Shares:</label>
            <span id="spx-shares">#</span>
        </li>
        <li>
            <label>Trade Profit/Loss:</label>
            <span class="spxDollars">$
                <span id="spx-trade"></span>
            </span>
        </li>
        <li>
            <label>Net Profit/Loss:</label>
            <span class="spxNetDollars">$
                <span id="spx-net"></span>
            </span>
        </li>
    </ul>
</section>
<section id="spy-card" class="tradingCards hide">
    <h4 id="spy-action"></h4>
    <h2 class="tickerName">SPY</h2>
    <ul class="insideCardList">
        <li>
            <label>Price:</label>
            <span id="spy-price">$</span>
        </li>
        <li>
            <label>Shares:</label>
            <span id="spy-shares">#</span>
        </li>
        <li>
            <label>Trade Profit/Loss:</label>
            <span class="spyDollars">$
                <span id="spy-trade"></span>
            </span>
        </li>
        <li>
            <label>Net Profit/Loss:</label>
            <span class="spyNetDollars">$
                <span id="spy-net"></span>
            </span>
        </li>
    </ul>
</section>
<section id="ndx-card" class="tradingCards hide">
    <h4 id="ndx-action"></h4>
    <h2 class="tickerName">NDX</h2>
    <ul class="insideCardList">
        <li>
            <label>Price:</label>
            <span id="ndx-price">$</span>
        </li>
        <li>
            <label>Shares:</label>
            <span id="ndx-shares">#</span>
        </li>
        <li>
            <label>Trade Profit/Loss:</label>
            <span class="ndxDollars">$
                <span id="ndx-trade"></span>
            </span>
        </li>
        <li>
            <label>Net Profit/Loss:</label>
            <span class="ndxNetDollars">$
                <span id="ndx-net"></span>
            </span>
        </li>
    </ul>
</section>
<section id="dxy-card" class="tradingCards hide">
    <h4 id="dxy-action"></h4>
    <h2 class="tickerName">DXY</h2>
    <ul class="insideCardList">
        <li>
            <label>Price:</label>
            <span id="dxy-price">$</span>
        </li>
        <li>
            <label>Shares:</label>
            <span id="dxy-shares">#</span>
        </li>
        <li>
            <label>Trade Profit/Loss:</label>
            <span class="dxyDollars">$
                <span id="dxy-trade"></span>
            </span>
        </li>
        <li>
            <label>Net Profit/Loss:</label>
            <span class="dxyNetDollars">$
                <span id="dxy-net"></span>
            </span>
        </li>
    </ul>
</section>
<section id="ukx-card" class="tradingCards hide">
    <h4 id="ukx-action"></h4>
    <h2 class="tickerName">UKX</h2>
    <ul class="insideCardList">
        <li>
            <label>Price:</label>
            <span id="ukx-price">$</span>
        </li>
        <li>
            <label>Shares:</label>
            <span id="ukx-shares">#</span>
        </li>
        <li>
            <label>Trade Profit/Loss:</label>
            <span class="ukxDollars">$
                <span id="ukx-trade"></span>
            </span>
        </li>
        <li>
            <label>Net Profit/Loss:</label>
            <span class="ukxNetDollars">$
                <span id="ukx-net"></span>
            </span>
        </li>
    </ul>
</section>