<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="icon" href="/images/favicon.png" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" href="/images/favicon.png" />
<meta name="msapplication-TileImage" content="/images/favicon.png" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/css/min/main.css?v=x">


