<nav>
  <a href="/">
    <img src="https://www.topsteptrader.com/wp-content/themes/toptrader/images/TopstepTraderLogoWebsite%28no%20tagline%29.png" class="nav-logo" alt="TopstepTrader Logo" />
  </a>
</nav>
